@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
	--primary-green: #2dac6d;
	--primary-light: #f8f9fa;
}

body {
	font-family: 'Lora', sans-serif;
}

.page-container {
	position: relative;
	min-height: 95vh;
	margin-bottom: 0;
}

/*NAVBAR*/
.logo {
	width: 6rem;
}

.navbar-nav > a {
	font-size: 18px;
	font-family: 'Lora', sans-serif;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	border-bottom: 0.1875rem solid var(--primary-light);
}

.navbar-text {
	font-size: 18px;
	font-family: 'Lora', sans-serif;
	margin-right: 1rem;
	margin-left: 0.75rem;
	color: #7c7c7d;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar-nav > a.active,
.navbar-nav > a:focus {
	border-bottom: 0.1875rem solid var(--primary-green);
}

#logout-button {
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Lora', sans-serif;
}

/*FOOTER*/
.footer {
	background-color: var(--primary-light);
	height: 4rem;
	bottom: 0;
	width: 100%;
	position: relative;
}

.footer > p {
	text-align: center;
	padding: 1.4rem 0;
	font-family: 'Lora', sans-serif;
	color: #7c7c7d;
}

/*HOME*/

.home-logo {
	display: block;
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3rem;
}

.main-title {
	font-family: 'Lora', sans-serif;
	color: var(--primary-green);
	margin-top: 3rem;
	margin-bottom: 1rem;
	text-align: center;
}

.main-description {
	font-family: 'Lora', sans-serif;
	margin-bottom: 2rem;
	width: 50vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*LOGIN*/

.login-container {
	font-family: 'Lora', sans-serif;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
}

.login-container > h2 {
	margin-bottom: 2rem;
	text-align: center;
}

.signup-link,
.forgot-link {
	color: var(--primary-green) !important;
}

.login-links {
	display: block;
	margin-top: 2rem;
}

#forgot-btn {
	margin-left: 5px;
}

/*SIGN UP*/

.signup-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 50vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.signup-heading {
	margin-bottom: 2rem;
	text-align: center;
}

.btn {
	margin-top: 1.5rem;
	border: 0.135rem var(--primary-green) solid !important;
	border-radius: 0% !important;
	background-color: transparent !important;
	color: black !important;
}

/*FORGOT*/
.forgot-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 50vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.forgot-heading {
	margin-bottom: 2rem;
	text-align: center;
}

/*DASHBOARD*/

.dashboard-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 90vw;
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.dashboard-container > h1 {
	margin-bottom: 1rem;
}

#dash-row {
	padding: 1rem;
}

#dash-col {
	border: var(--primary-green) solid 0.135rem;
	height: 15rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

#dash-col > h5 {
	margin-top: 0.8rem;
}

.stat-container {
	padding-top: 20%;
}

.stat-container2 {
	padding-top: 12%;
}
.dash-stat {
	position: relative;
	text-align: center;
	font-size: 30px;
}

/*UPLOAD*/
.upload-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 50vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.upload-heading {
	margin-bottom: 2rem;
	text-align: center;
}

.upload-dropzone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center;
}

.file-list-heading {
	color: black;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.attached-files {
	color: var(--primary-green);
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.attached-files-container {
	border: solid 1px;
	border-color: #ccc;
	margin-top: 1rem;
}

.attached-files-container > h5 {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.file-types-text {
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

#js-upload-submit {
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.upload-desc {
	margin-top: 1rem;
	text-align: center;
}

/*LIBRARY*/

.library-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 90vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.library-container > h1 {
	margin-bottom: 3rem;
}

.library-container > h4 {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.file-head {
	text-align: left;
}
.grade-delete {
	display: inline-block;
}

.filename {
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
}

.filename-link {
	text-align: left;
	color: var(--primary-green);
	margin-top: auto;
	margin-bottom: auto;
}

#view-edit-btn {
	margin-top: 0px;
	margin-left: 3px;
}

/*GRADE*/

#view-col.col-8 {
	border-right: var(--primary-green) solid 0.135rem;
	height: 90vh;
}

#grade-col.col-4 {
	height: 90vh;
}

#grader.container-fluid {
	margin-bottom: 2rem;
}

.grade-title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-top: 10px;
	margin-bottom: 20px;
}

.grader-title {
	text-align: center;
	margin-left: 12px;
	font-size: 20px;
	font-family: 'Lora', sans-serif;
}

.grader-button > button {
	font-family: 'Lora', sans-serif;
	font-size: 18px;
}

.grader-grade {
	text-align: center;
	text-decoration: underline var(--primary-green);
	font-size: 20px;
	font-family: 'Lora', sans-serif;
}

.notes-label {
	font-family: 'Lora', sans-serif;
	font-size: 18px;
}

.notes-text {
	width: inherit;
	height: 7rem;
}

.viewer-title {
	text-align: center;
	font-family: 'Lora', sans-serif;
	background-color: var(--primary-green);
	color: var(--primary-light);
}

.rubric-title {
	text-align: center;
	font-family: 'Lora', sans-serif;
	background-color: var(--primary-green);
	color: var(--primary-light);
}

.grade-frame {
	width: 100%;
	height: inherit;
	border: solid 0.135rem var(--primary-light);
}

.grade-frame > iframe {
	width: 100%;
	height: inherit;
}

.table {
	font-family: 'Lora', sans-serif;
}

/*CREATE RUBRIC*/

.rubric-container {
	margin-top: 25px;
	font-family: 'Lora', sans-serif;
	width: 90vw;
	border: 0.135rem solid var(--primary-green);
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.rubric-container > h1 {
	margin-bottom: 2rem;
}

#rubric-btn {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#cell-btn {
	margin-top: 0rem;
	margin-bottom: 1rem;
}

.rubric-heading {
	text-align: center;
	font-weight: 900;
}

textarea {
	margin-left: auto;
	margin-right: auto;
}

.rubric-title2 {
	text-align: center;
	font-family: 'Lora', sans-serif;
	background-color: var(--primary-green);
	color: var(--primary-light);
	margin-top: 3rem;
	padding: 1rem;
}

.table-container {
	max-width: 90vw;
}
